// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/* PATHS */
$base-url: "../";


/// Regular font family
/// @type List
$text-font-stack: "Roboto", sans-serif !default;

/* BREAKPOINTS */

$mobile-width: 414px;
$desktop-width: 1200px;

$breakpoints: (
  sm : $mobile-width,
  lg : $desktop-width
);

/* COLORS */
$white-color: #fff;
$black-color: #08020d;
$gray-color:  #e0e0e0;
$dark-gray-color: #cacaca;
$dark-color: #3c3b3d;
$green-color: #34c176;
$orange-color: #f89202;
$purple-color: #5328a1;
$red-color: #95390c;

/* FONTS */

$text-base-size: 1em;
$text-scale-ratio: 1.5;
$text-small-scale-ratio: 1.25;

$text-sm: calc(#{$text-base-size} / #{$text-small-scale-ratio});
$text-md: calc(#{$text-base-size} * #{$text-scale-ratio});
$text-lg: calc(#{$text-base-size} * (#{$text-scale-ratio} + #{0.5}));
$text-xl: calc(#{$text-base-size} * (#{$text-scale-ratio} + #{2 * 0.5}));
$text-xxl: calc(#{$text-base-size} * (#{$text-scale-ratio} + #{3 * 0.5}));
$text-xxxl: calc(#{$text-base-size} * (#{$text-scale-ratio} + #{4 * 0.5}));
$text-xxxxl: calc(#{$text-base-size} * (#{$text-scale-ratio} + #{5 * 0.5}));

$header-3-size: 16px;
$h4-font-size: 18px;

$h1-font-size: (
  sm: 30px,
  lg: 60px,
);

$h2-font-size: (
  sm: 18px,
  lg: 38px,
);
$h3-font-size: (
  sm: 16px,
  lg: 24px,
);
