.btn {
  display: inline-block;

  padding: 21px 30px;

  color: $white-color;
  text-align: center;
  text-transform: uppercase;

  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-transparent {
  border: 1px solid $white-color;
}

.btn-green {
  background-color: $green-color;
}

.btn-purple {
  background-color: $purple-color;
}

.btn-red {
  background-color: $red-color;
}

.btn-registrate {
  width: 100%;

  line-height: 1.1;
}

.btn-subscribe {
  width: 100%;
  margin-bottom: 64px;

  padding-top: 20px;
  padding-bottom: 20px;

  font-size: $text-base-size;
  line-height: $text-scale-ratio;
}

.btn-download {
  padding: 17px 41px;

  font-size: $text-sm;
  line-height: $text-scale-ratio;

  text-transform: capitalize;

  border-radius: 32px;
}

.btn-to-album {
  padding-top: 16px;
  padding-bottom: 16px;

  color: $dark-gray-color;

  font-size: $text-sm;

  border-color: $dark-gray-color;
}

.btn-mix {
  @include flex-container($alignment: center);

  width: 200px;
  margin: 0 24px 24px 0;

  font-size: $text-sm;

  & img {
    width: 20px;
    margin-right: 16px;

    color: $white-color;
  }
}

.btn-favorite {
  @include flex-container($alignment: center);

  width: 200px;
  margin: 0 24px 24px 0;

  font-size: $text-sm;

  & img {
    width: 20px;
    margin-right: 16px;

    color: $white-color;
  }
}
