.input {
  line-height: 1.15em;
}

.input-transparent {
  @extend .input;

  padding: 14px 22px 16px 22px;

  color: $white-color;

  font-size: 14px;
  background-color: transparent;

  border: 2px solid $dark-gray-color;
  border-radius: 3px;

  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $white-color;

    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white-color;
  }

  &::-ms-input-placeholder { /* Microsoft Edge */
    color: $white-color;
  }
}

.input-gray {
  @extend .input;

  padding: 5px 10px;

  text-transform: uppercase;

  background-color: $dark-color;

  border-radius: 50px;

}
