/** BOX MODEL **/
.d-flex {
  display: flex;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.mt-16 {
  margin-top: 16px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-100 {
  padding-top: 100px;
}

.txt-align-ctr {
  text-align: center;
}

/** TYPOGRAPHY **/

.txt-upper {
  text-transform: uppercase;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}

/** DECOTRATION **/
.bg-black {
  background-color: $black-color;
}

.txt-orange {
  color: $orange-color;
}

.txt-dark-gray {
  color: $dark-gray-color;
}

