/* BREAKPOINTS */
/* COLORS */
/* FONTS */
/** POSITIONING **/
.pos-r {
  position: relative;
}

/** BOX MODEL **/
.d-flex {
  display: flex;
}

.fd-row-rev {
  flex-direction: row-reverse;
}

.flex-dir-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.mt-16 {
  margin-top: 16px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-65 {
  margin-bottom: 65px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ta-c {
  text-align: center;
}

/** TYPOGRAPHY **/
.fs-16 {
  font-size: 16px;
}

.fw-n {
  font-weight: normal;
}

/** DECOTRATION **/
.bg-black {
  background-color: #08020d;
}

.txt-white {
  color: #fff;
}

.txt-orange {
  color: #f89202;
}

.txt-dark-gray {
  color: #cacaca;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/**
 * Basic typography style for copy text
 */
body {
  color: #fff;
  font: normal 1em / 1.5 "Roboto", sans-serif;
}

@media (min-width: 414px) {
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 414px) {
  h2 {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 38px;
  }
}

@media (min-width: 414px) {
  h3 {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  h3 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-weight: normal;
  }
}
h4 {
  font-size: 18px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

.text-xxxxl {
  font-size: calc(1em * (1.5 + 2.5));
}

.registration-button {
  display: inline-block;
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: #34c176;
  grid-area: button;
  width: 100%;
}

.subscribe-button {
  display: inline-block;
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  margin-bottom: 64px;
}

.app-download-button {
  display: inline-block;
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 17px 0;
  text-transform: capitalize;
  background: #95390c;
  border-radius: 32px;
  width: 131px;
  font-size: calc(1em / 1.25);
}

.to-album-button {
  display: inline-block;
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  width: 135px;
  padding: 17px 0;
  font-size: calc(1em / 1.25);
  line-height: 1.5em;
  border-color: #cacaca;
}

.registration-input {
  padding: 16px 0 18px 22px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.registration-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.registration-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.registration-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 414px) {
  .container {
    width: 374px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 17px;
}
.logo img {
  width: 20px;
  height: 20px;
}
.logo span {
  margin-left: 16px;
  font-weight: bold;
  font-size: 11px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 17px;
  color: #808080;
  font-size: 11px;
}
.menu li {
  width: 100%;
  margin-bottom: 3px;
}
.menu li.is-active {
  color: #fff;
}

.search {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.search input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 14px 9px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border-radius: 50px;
}

@media (min-width: 1200px) {
  .menu,
.logo {
    margin-bottom: 0px;
  }

  .menu li {
    width: auto;
    margin-bottom: 0px;
  }

  .search input {
    width: 280px;
  }
}
footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 100px;
  margin-bottom: 74px;
}

.col p {
  margin-bottom: 16px;
  font-size: 18px;
}
.col li {
  font-weight: normal;
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}

.footer-menu {
  display: flex;
  padding: 40px 0 48px 0;
  font-weight: normal;
  font-size: 16px;
}
.footer-menu li {
  margin-right: 15px;
}

.subscriptions {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 30px;
}

.subscribe-item {
  box-sizing: border-box;
  height: 595px;
  padding: 21px 24px;
  border-radius: 5px;
}
.subscribe-item.subscribe-1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}
.subscribe-item.subscribe-2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}
.subscribe-item.subscribe-3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}
.subscribe-item .price {
  display: flex;
  width: min-content;
  margin: 180px auto 24px auto;
}
.subscribe-item .amount {
  font-weight: normal;
  font-size: calc(1em * (1.5 + 2.5));
  line-height: 1.5em;
}
.subscribe-item .currency {
  margin: 15px 0 0 16px;
  line-height: 1.5em;
  font-size: calc(1em * (1.5 + 0.5));
  text-transform: uppercase;
}
.subscribe-item .description {
  font-weight: normal;
  font-size: calc(1em / 1.25);
}

@media (min-width: 1200px) {
  .subscriptions {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .subscribe-item {
    height: 619px;
  }
}
.banner {
  position: relative;
  height: 877px;
  padding: 250px 0 200px 0;
  color: #fff;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}
.banner .subheader {
  margin-bottom: 32px;
}

@media (min-width: 414px) {
  .banner {
    background-size: auto 100%;
  }
}
@media (min-width: 1200px) {
  .banner {
    padding-top: 200px;
    background-size: cover;
  }
}
.registration {
  display: grid;
  gap: 30px;
  width: 100%;
}

@media (min-width: 414px) {
  .registration {
    grid-template-areas: "name" "email" "button";
  }
}
@media (min-width: 1200px) {
  .registration {
    grid-template-areas: "name email" "button button";
    width: 570px;
  }
}
.news {
  display: flex;
  justify-content: space-between;
}
.news:nth-child(2n+1) {
  flex-direction: row-reverse;
}
.news:not(:last-child) {
  margin-bottom: 65px;
}

.news-item {
  flex-basis: 575px;
}

.news-footer {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.news-title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 30px;
}

.app-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.app-info {
  flex-basis: 600px;
}

/*# sourceMappingURL=style.css.map */
