/* COLORS */
/* FONTS */
/** POSITIONING **/
.pos-r {
  position: relative;
}

/** BOX MODEL **/
.d-flex {
  display: flex;
}

.flex-dir-c {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-46 {
  margin-bottom: 46px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.ta-c {
  text-align: center;
}

/** TYPOGRAPHY **/
.fs-16 {
  font-size: 16px;
}

.fw-n {
  font-weight: normal;
}

/** DECOTRATION **/
.bg-black {
  background-color: #08020d;
}

.txt-white {
  color: #fff;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
button {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  border: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-weight: bold;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.h1 {
  font-size: 60px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.h2 {
  font-size: 38px;
  line-height: 1.5em;
  text-transform: uppercase;
}

.h3 {
  font-weight: normal;
  font-size: calc(1em * 1.5);
  line-height: 1.8em;
  text-transform: uppercase;
}

.text-xxxxl {
  font-size: calc(1em * (1.5 + 2.5));
}

.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.registration-button {
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 5px;
  background: #34c176;
  grid-area: button;
  width: 100%;
}

.subscribe-button {
  padding: 21px 0;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
  margin-bottom: 64px;
}

.registration-input {
  padding: 16px 0 18px 22px;
  color: #fff;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.registration-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}
.registration-input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.registration-input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.logo img {
  width: 20px;
  height: 20px;
}
.logo span {
  margin-left: 4px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;
  color: #808080;
}

.search {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.search input {
  box-sizing: border-box;
  width: 280px;
  height: 30px;
  padding: 14px 9px;
  text-transform: uppercase;
  background-color: #3c3b3d;
  border-radius: 50px;
}

footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 100px;
  margin-bottom: 74px;
}

.col p {
  margin-bottom: 30px;
  font-size: 18px;
}
.col li {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
}

.social {
  display: flex;
  justify-content: space-between;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #eee;
}

.footer-menu {
  display: flex;
  padding: 50px 0;
  font-weight: normal;
  font-size: 16px;
}
.footer-menu li {
  margin-right: 40px;
}

.subscribes {
  display: grid;
  grid-template-columns: repeat(3, 374px);
  gap: 39px;
  margin-bottom: 30px;
}

.subscribe-item {
  height: 619px;
  padding: 21px 24px;
  border-radius: 5px;
}
.subscribe-item.subscribe-1 {
  background-image: url("../images/subscribe_1.png");
  background-size: cover;
}
.subscribe-item.subscribe-2 {
  background-image: url("../images/subscribe_2.png");
  background-size: cover;
}
.subscribe-item.subscribe-3 {
  background-image: url("../images/subscribe_3.png");
  background-size: cover;
}
.subscribe-item .price {
  display: flex;
  width: min-content;
  margin: 180px auto 24px auto;
}
.subscribe-item .amount {
  font-weight: normal;
  font-size: calc(1em * (1.5 + 2.5));
  line-height: 1.5em;
}
.subscribe-item .currency {
  margin: 15px 0 0 16px;
  line-height: 1.5em;
  font-size: calc(1em * (1.5 + 0.5));
  text-transform: uppercase;
}
.subscribe-item .description {
  font-weight: normal;
  font-size: calc(1em / 1.25);
}

.banner {
  position: relative;
  height: 877px;
  color: #fff;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .subheader {
  margin-bottom: 32px;
}

.registration {
  display: grid;
  grid-template-areas: "name email" "button button";
  gap: 30px;
  width: 570px;
}

/*# sourceMappingURL=style.css.map */
