.btn {
  display: inline-block;

  padding: 21px 31px;

  color: $white-color;
  text-align: center;
  text-transform: uppercase;

  background: transparent;
  border: none;

  cursor: pointer;
}

.btn-square {
  @extend .btn;
  border-radius: 5px;
}

.btn-rounded {
  @extend .btn;
  border-radius: 32px;
}

.btn-transparent {
  @extend .btn-square;

  border: 1px solid $white-color;
}

.btn-green {
  @extend .btn-square;
  line-height: 1.15em;
  background-color: $green-color;
}

.btn-purple {
  @extend .btn-square;
  background-color: $purple-color;
}

.btn-red {
  background-color: $red-color;
}

.btn-registrate {
  @extend .btn-green;

  width: 100%;
}

.btn-subscribe {
  @extend .btn-transparent;

  width: 100%;
  margin-bottom: 64px;

  font-size: $text-base-size;
}

.btn-download {
  @extend .btn-rounded;
  @extend .btn-red;

  width: 131px;

  font-size: $text-sm;
  text-transform: capitalize;
}

.btn-to-album {
  @extend .btn-transparent;

  width: 135px;

  padding: 17px 0;

  color: $dark-gray-color;

  font-size: $text-sm;

  border-color: $dark-gray-color;
}

.btn-mix {
  @extend .btn-purple;

  @include flex-container($alignment: center);

  width: 200px;
  margin: 0 25px 25px 0;

  font-size: $text-sm;

  & img {
    width: 20px;
    margin-right: 16px;

    color: $white-color;
  }
}

.btn-favorite {
  @extend .btn-square;
  @extend .btn-red;
  @include flex-container($alignment: center);

  width: 200px;
  margin: 0 25px 25px 0;

  font-size: $text-sm;

  & img {
    width: 20px;
    margin-right: 16px;
    color: $white-color;
  }
}