footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-content {
  display: grid;
  grid-template-rows: repeat(4, auto);
  margin-bottom: 32px;
}

.col {
  margin-bottom: 30px;
  & p {
    margin-bottom: 16px;

    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  & li {
    font-weight: normal;
    font-size: 16px;
  }
}

.social {
  display: flex;
  & li {
    margin-right: 24px;
  }
}

.separator {
  width: 100%;
  height: 1px;

  background-color: $gray-color;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 32px 0;

  font-weight: normal;

  & li {
    width: 100%;
    margin: 0 15px 16px 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-content {

    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-menu {
    & li {
      width: auto;
    }
  }
}
