.footer {
  padding: 61px 0 32px 0;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

.footer-top {
  @include flexible-grid-container(246px, 40px, 30px);
}

.footer-col-title {
  margin: 0 0 16px 0;

  text-transform: uppercase;
}

.social {
  @include flex-container();

  & .social-item {
    margin-right: 24px;
  }
}

.separator {
  width: 100%;
  height: 1px;

  margin-top: 75px;
  margin-bottom: 40px;

  background-color: $gray-color;
}

.footer-bottom {
  @include flex-container($wrap: wrap);
}

.footer-menu-item {
  width: 100%;
  margin: 0 15px 16px 0;
}

@media (min-width: $medium-width) {
  .footer-menu-item {
    width: auto;
  }
}
