.registration {
  display: grid;

  gap: 30px;

  width: 100%;
}

@media (min-width: $mobile-width) {
  .registration {
    grid-template-areas: "name" "email" "button";
  }
}

@media (min-width: $desktop-width) {
  .registration {
    grid-template-areas: "name email" "button button";
    width: 570px;
  }
}
