header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

.header {
  display: flex;
  align-items: center;

  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;

  & img {
    width: 20px;
    height: 20px;
  }

  & span {

    margin-left: 4px;

    font-weight: bold;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 400px;

  color: $gray-color;
}

.search {
  display: flex;

  flex-grow: 1;
  justify-content: flex-end;

  & input {
    box-sizing: border-box;

    width: 280px;
    height: 30px;

    padding: 14px 9px;

    text-transform: uppercase;

    background-color: $dark-color;
    border-radius: 50px;
  }
}
