header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 100px;
  margin-bottom: 17px;

  & img {
    width: 20px;
    height: 20px;
  }

  & span {

    margin-left: 16px;

    font-weight: bold;
    font-size: 11px;
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 17px;

  color: $gray-color;

  font-size: 11px;

  & li {
    width: 100%;
    margin-bottom: 3px;
  }

  & li.is-active {
    color: $white-color;
  }

  & li.disabled {
    color: $dark-gray-color;
  }
}

.search {
  display: flex;

  flex-grow: 1;
  justify-content: flex-end;

  & input {
    box-sizing: border-box;

    width: 100%;
    height: 30px;

    padding: 14px 9px;

    text-transform: uppercase;

    background-color: $dark-color;
    border-radius: 50px;
  }
}

@media (min-width: $desktop-width) {
  .menu,
  .logo {
    margin-bottom: 0px;
  }

  .menu li {
    width: auto;
    margin-bottom: 0px;
  }

  .search {
    & input {
      width: 280px;
    }
  }
}
