.subscriptions {
  @include flexible-grid-container(280px, 50px);

  margin-bottom: 40px;
}

.subscribe-item {
  height: 619px;
  padding: 21px 24px;

  border-radius: 16px;

  &.subscribe-1 {
    background-image: image("subscribe_1.png", "../");
    background-size: cover;
  }

  &.subscribe-2 {
    background-image: image("subscribe_2.png", "../");
    background-size: cover;
  }

  &.subscribe-3 {
    background-image: image("subscribe_3.png", "../");
    background-size: cover;
  }

  & .price {
    @include flex-container($spacing: center);
    width: min-content;
    margin: 180px auto 24px auto;
  }

  & .amount {
    font-weight: normal;
    font-size: $text-xxxxl;
    line-height: 1.5em;
  }

  & .currency {
    margin: 15px 0 0 16px;

    line-height: 1.5em;

    font-size: $text-lg;
    text-transform: uppercase;
  }
}

.subscribe-description {
  font-size: $text-sm;
}
