.subscriptions {
  @include flexible-grid-container(280px, 50px);

  margin-bottom: 40px;
}

.subscription-item {
  height: 595px;
  padding: 21px 24px;

  border-radius: 16px;

  &.free {
    background-image: image("subscribe_1.png", "../");
    background-size: cover;
  }

  &.standard {
    background-image: image("subscribe_2.png", "../");
    background-size: cover;
  }

  &.premium {
    background-image: image("subscribe_3.png", "../");
    background-size: cover;
  }

  & .price {
    @include flex-container($spacing: center);
    width: min-content;
    margin: 180px auto 24px auto;
  }

  & .amount {
    font-weight: normal;
    font-size: $text-xxxxl;
    line-height: 1.5em;
  }

  & .currency {
    margin: 15px 0 0 16px;

    line-height: 1.5em;

    font-size: $text-lg;
    text-transform: uppercase;
  }
}

.subscription-info {
  font-size: $text-sm;
}

@media (min-width: $medium-width) {
  .subscription-item {
    height: 615px;
  }
}