.news {
  @include flexible-grid-container(280px, 50px);
}

.article-image {
    width: 100%;
}

.news-footer {
  @include flex-container($alignment: center);

  margin-bottom: 48px;

  text-transform: uppercase;
}

.news-title {
  margin-bottom: 16px;

  font-size: $text-base-size;
}

@media (min-width: $medium-width) {
  .news-title {
    margin-bottom: 30px;

    font-size: 30px;
  }
}