.discography {
  @include flex-container($wrap: wrap, $alignment: center);
}
.disc {
  box-sizing: border-box;
  width: 50%;
  max-width: 300px;
  margin: 0 0 25px 0;
  padding-right: 50px;

  & .cover {
    display: block;
    width: 100%;
  }
}