.description {
  padding-top: 248px;
  padding-bottom: 200px;

  & .subheader {
    margin-bottom: 16px;
  }
}

@media (min-width: $medium-width) {
  .description {
    padding-top: 200px;
    padding-bottom: 200px;

    & .subheader {
      margin-bottom: 32px;
    }
  }
}
