.track {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 25px;

  font-size: $text-sm;

  & .cover {
    width: 55px;
    margin-right: 15px;
  }

  & .info {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 481px;
  }

  & .title {
    flex-grow: 1;
  }
}
