.subscriptions {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;

  margin-bottom: 40px;
}

.subscribe-item {
  box-sizing: border-box;
  height: 595px;

  padding: 21px 24px;

  border-radius: 5px;

  &.subscribe-1 {
    background-image: image("subscribe_1.png", "../");
    background-size: cover;
  }

  &.subscribe-2 {
    background-image: image("subscribe_2.png", "../");
    background-size: cover;
  }

  &.subscribe-3 {
    background-image: image("subscribe_3.png", "../");
    background-size: cover;
  }

  & .price {
    display: flex;
    width: min-content;
    margin: 180px auto 24px auto;
  }

  & .amount {
    font-weight: normal;
    font-size: $text-xxxxl;
    line-height: 1.5em;
  }

  & .currency {
    margin: 15px 0 0 16px;

    line-height: 1.5em;
    font-size: $text-lg;
    text-transform: uppercase;
  }

  & .description {
    font-weight: normal;
    font-size: $text-sm;
  }
}

@media (min-width: $desktop-width) {
  .subscriptions {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .subscribe-item {
    height: 619px;
  }
}