.description {
  padding-top: 250px;
  padding-bottom: 198px;

  & .subheader {
    margin-bottom: 16px;
  }
}

@media (min-width: $medium-width) {
  .description {
    padding-top: 199px;
    padding-bottom: 199px;

    & .subheader {
      margin-bottom: 32px;
    }
  }
}
