.registration {
  @include flex-container($spacing: space-between, $wrap: wrap);
  width: 100%;
  max-width: 370px;
  margin: 0 auto;
}

.registration-field {
  @extend .input-transparent;
  width: 100%;
  margin-bottom: 24px;
}

@media (min-width: $medium-width) {
  .registration-field {
    max-width: 270px;
  }

  .registration {
    max-width: 570px;
  }
}
