.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header-wrapper {
  @include flex-container($wrap: wrap, $alignment: center);

  text-transform: uppercase;
}

.logo {
  @include flex-container( $alignment: center);
  width: 100%;
  margin-bottom: 16px;

  & .icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  & .title {
    font-weight: bold;
    font-size: 11px;
  }
}

.nav {
  min-width: 314px;
  margin-bottom: 15px;
}

.menu {
  @include flex-container($wrap: wrap, $spacing: space-between, $alignment: center);
  width: 100%;

  color: $gray-color;

  font-weight: bold;
  font-size: 11px;

  & .item {
    width: 100%;
  }

  & .item.is-active {
    color: $white-color;
  }

  & .item.disabled {
    color: $dark-gray-color;
  }
}

.search {
  @include flex-container($wrap: wrap, $spacing: flex-end, $alignment: center);

  width: 100%;
}

.input-search {
  width: 100%;
}

@media (min-width: $medium-width) {
  .search {
    flex: 1 1 272px;
  }

  .input-search {
    width: 248px;
  }

  .logo,
  .nav {
    margin-bottom: 0;
  }

  .logo {
    max-width: 188px;
  }
}

@media (min-width: $small-width) {
  .menu .item {
    width: max-content;
    margin-bottom: 0;
  }

  .logo {
    flex: 1 1 124px;
  }
}
