.app-content {
  @include flexible-grid-container(280px, 16px, 0);
  direction: rtl;
}

.app-info {
  width: 100%;
  max-width: 600px;
  max-height: 278px;

  direction: ltr;
}

.app-image {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $medium-width) {
  .app-image {
    width: 333px;
  }
}
