.news {
  @include flexible-grid-container(280px, 50px);
}

.news-image {
  display: block;
  width: 100%;
  border-right: 1px solid transparent;
}

.news-footer {
  @include flex-container($alignment: center);

  margin-bottom: 48px;

  font-size: $text-sm;
  text-transform: uppercase;
}

.avatar {
  width: 19px;
}

.news-title {
  margin-bottom: 16px;

  font-size: $text-base-size;
}

@media (min-width: $medium-width) {
  .news-title {
    margin-bottom: 30px;

    font-size: 30px;
  }
}