.discography {
  @include flex-container($wrap: wrap);
}
.disc {
  box-sizing: border-box;
  width: 50%;
  max-width: 300px;
  margin: 25px 0 0 0;
  padding-right: 50px;

  & .cover {
    display: block;
    width: 100%;
  }

  & .year {
    color: $gray-color;
  }
}