.tracks {
  @include flexible-grid-container(374px, 48px, 25px);
}

.track {
  @include flex-container($alignment: center);

  width: 100%;
  max-width: 600px;

  font-size: $text-sm;

  & .cover {
    width: 55px;
    margin-right: 15px;
  }

  & .info {
    @include flex-container($alignment: center);

    width: 100%;
    max-width: 481px;
  }

  & .title {
    flex-grow: 1;
  }

  & .artist-name {
    color: $gray-color;
  }
}
