.description {
  padding-top: 225px;
  padding-bottom: 200px;

  & .artist-name {
    margin-top: 0;
  }

  & .subheader {
    margin-bottom: 16px;
  }
}

@media (min-width: $medium-width) {
  .description {
    padding-top: 175px;
    padding-bottom: 200px;

    & .artist-name {
      margin-top: 74px;
    }

    & .subheader {
      margin-bottom: 32px;
    }
  }
}
