.artists {
  @include flex-container($wrap: wrap, $alignment: center);
}

.artist {
  box-sizing: border-box;
  width: 50%;
  max-width: 300px;
  margin: 25px 0 0 0;
  padding-right: 50px;

  text-align: center;

  & .photo {
    width: 100%;
  }

  & .fans-count {
    color: $gray-color;
  }
}
