/** POSITIONING **/
.pos-r {
  position: relative;
}

/** BOX MODEL **/
.d-flex {
  display: flex;
}

.fd-row-rev {
  flex-direction: row-reverse;
}

.flex-dir-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.mt-16 {
  margin-top: 16px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-65 {
  margin-bottom: 65px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-60 {
  padding-top: 80px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-100 {
  padding-top: 100px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-75 {
  padding-bottom: 75px;
}

.pb-100 {
  padding-bottom: 100px;
}

.txt-align-c {
  text-align: center;
}

/** TYPOGRAPHY **/
.fs-16 {
  font-size: 16px;
}

.fw-n {
  font-weight: normal;
}

/** DECOTRATION **/
.bg-black {
  background-color: $black-color;
}

.txt-white {
  color: $white-color;
}

.txt-orange {
  color: $orange-color;
}

.txt-dark-gray {
  color: $dark-gray-color;
}

.txt-gray {
  color: $gray-color;
}

.txt-upper {
  text-transform: uppercase;
}

.direction-rtl {
  direction: rtl;
}

.direction-ltr {
  direction: ltr;
}