body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

input,
button {
  padding: 0;

  font-weight: inherit;
  font-family: inherit;

  border: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;

}
