/**
 * Basic typography style for copy text
 */
body {
  color: $white-color;
  font: normal $text-base-size #{"/"} $text-scale-ratio $text-font-stack;
}

.h1 {
  @include font-size($h1-font-size);
}

.h2 {
  @include font-size($h2-font-size);
  margin-bottom: 48px;
}

.h3 {
  @include font-size($h3-font-size);
}

@media (min-width: $medium-width) {
  .h3 {
    font-weight: normal;
  }
}

.h4 {
  margin-top: 18px;
  font-size: $h4-font-size;
}

.h1,
.h2,
.h3 {
  text-transform: uppercase;
}

.text-xxxxl {
  font-size: $text-xxxxl;
}
