.header {
  display: flex;
  text-transform: uppercase;
}

.logo {
  display: flex;
  align-items: center;

  & img {
    width: 20px;
    height: 20px;
  }

  & span {

    margin: 0 100px 0 4px;

    font-weight: bold;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;

  margin-left: 335px;

  color: $gray-color;

  list-style-type: none;
}

.search {
  flex-basis: 280px;
}
